<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">RnH Monitoring Dashboard</div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="w3-bar">
            <nav>
              <button class="w3-bar-item w3-button w3-text-white w3-large w3-right w3-hover-none " >
                <a class="w3-text-white" routerLink="/home">Home</a></button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>