<div class="well" id="divWellAboveHost">
  <h3 id="name">Showing for host @ {{SelectedHostname}}</h3>
  <div class="row">
    <div class="form-group">
      <div id="abovedrop">
        <div class="dropdown">
          <button type="button" class="btn btn-dark" id="button1">
            Change Host
          </button>
          <button type="button" class="btn btn-block btn-lg btn-dark" id="button2">Historic Analysis</button>

          <select routerLink="/realTime" class="form-control form-control-lg" id="sel1" (change)="myClickFunction($event)" >
            <option *ngFor="let name of hostname; let i = index" value="{{i}}">{{name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>