a#v-pills-cpu-tab
{
    height: 50px;
    width: 205px;
}
a#v-pills-disk-tab
{
    height: 50px;
}
a#v-pills-memory-tab{
    height: 50px;
}
a#v-pills-datalist-tab{
    height: 50px;
}
a#v-pills-memorylist-tab{
    height: 50px;
}
div#v-pills-tab{
    margin-top: 200px;
}
div.col-sm-2{
    margin-top: 1px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: black;
}
.nav-pills .nav-link {
    border-radius: 0.5rem;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 2;
}
a {
    color: black;
    text-decoration: none;
}
#button1,#button2{
    display:inline-block;
}
#button1{
    width: 179px;
    height: 45px;
    margin-left: 100px;
}
#button2{
    width: 179px;
    height: 45px;
    margin-left: 100px;
}
#name{
    width: 1000px;
    height: 45px;
    margin-left: 300px;
}
.btn {

    font-size: 18px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}
select#sel1{
    width: 180px;
    height: 31px;
    margin-left: 100px;
}
div.well{
    height: 300px;
}
#divWellAboveHost{
    height: 200px;
    width: 1080px;
}
#divrow{
    width: 1115px;
}
#abovedrop{
    margin-left: 200px;
}
#cpuwell
{
    width: 1080px;
}
h4
{
    margin-left: 200px;
}

table.table
{
    width: 600px;
    margin-left: 200px;
}
th
{
    width: 300px;
}
body{
    background-color: darkgrey;
}
body
{
    height: 758px;
}


div#cpuwell
{
    height: 500px;
}

div.col-sm-2 
{
    height: 755px;
}
a#v-pills-menu-tab{
    background-color: black;
    color: white;
    border-radius: 0%;
    margin-bottom: 10px;
}
